{% extends 'base.html.twig' %}

{% block title %}Apps index{% endblock %}

{% block body %}
    <h1>Apps index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app in apps %}
            <tr>
                <td>{{ app.id }}</td>
                <td>{{ app.name }}</td>
                <td>{{ app.text }}</td>
                <td>
                    <a href="{{ path('apps_show', {'id': app.id}) }}">show</a>
                    <a href="{{ path('apps_edit', {'id': app.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apps_new') }}">Create new</a>
{% endblock %}