{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
    <link href="{{ absolute_url(asset('css/datatables.css')) }}" rel="stylesheet" />
    <link href="{{ absolute_url(asset('css/modal.css')) }}" rel="stylesheet" />

{% endblock %}

{% block body %}
    {#<h1>User index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Created_at</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for user in users %}#}
            {#<tr>#}
                {#<td>{{ user.id }}</td>#}
                {#<td>{{ user.name }}</td>#}
                {#<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('user_show', {'id': user.id}) }}">show</a>#}
                    {#<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}

        {#<a href="{{ path('user_new') }}">Create new</a>#}
        {##}
        {#</tbody>#}
    {#</table>#}

    <div class="container">
        <h2>Web Apps Table</h2>
        <br/>
        <div class="table-responsive">
            <table id="user-list" class="table table-striped" >
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Created at</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    {{ include('user/contact_us.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script>
        $('#user-list').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "{{ path('paginate') }}",
            "sAjaxDataProp": "data",
            //"pageLength": 10,
            "lengthMenu": [[4, 5, 10, 25, 36], [4, 5, 10, 25, 36]],
            "columns":[
                {"data": "id"},
                {"data": "name"},
                {"data": "created_at"}
            ]
        });

        function myMap() {
            var myCenter = new google.maps.LatLng(40.182344, 44.513337);
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 6};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position:myCenter});
            marker.setMap(map);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=myMap"></script>

{% endblock %}